# Archivos de configuración
php/conex.php

# Archivos del sistema
.DS_Store
Thumbs.db

# Dependencias y directorios generados
/vendor/
/node_modules/
*.log

# Archivos de IDE
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Archivos de configuración local
*.env
config.local.php

# Otros
*.bak
*.swp
*~